.form-group
	margin-bottom 5px
	
	input.form-control
		border-radius 25px
		
.btn
	border-radius 35px
	&.not-round
		border-radius 4px
	
	&-default
		color $green

	&-info
		background-color $gray
		border-color $gray
		color $white
		border-radius 15px
		
		&:hover
			background-color $light-green
			color $white
		
	&.btn-sm
		font-size 10px


.Select	
	.Select-control
		border-radius 25px